<h2><b>Welcome to the practical Part of the Angular Basics presentation</b></h2>
<h2><b>A little introduction to the task:</b></h2>
<hr />
<p style="color:red; font-size: 18px">
  It`s important to create a fork of this project, use the button in the upper
  left, otherwise you cant change/save stuff!
</p>
<p style="color: red; font-size: 14px;">
  The lines of html in this document should be removed during the ongoing
  progression in the tutorial.
</p>
<p style="color: red; font-size: 14px;">
  If you can´t run ng commands, try to run the command: npm i in the terminal to
  install missing npm packages, but usually the node packages will be installed
  and the application be served.
</p>
<hr />
<p>
  Start with the tutorial on: https://angular.io/tutorial/tour-of-heroes/toh-pt1
</p>
<p>
  The basics from the presentation cover part 1 and part 2, but feel free to
  even try some more advanced stuff in the Part 3 and so on in the Tour of
  Heroes tutorial.
</p>

<h1>{{ title }}</h1>
<app-heroes></app-heroes>

